@page
@model BankingProject.Pages.Users.FundTransferModel
@{

    }
    <head>
        <style>
    body {
 background-color:#fcf8e3 !important;
  
}
</style>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/Users/Home">Home</a></li>
      <li class="active"><a href="/Users/FundTransfer">Fund Transfer</a></li>
      <li class="active"><a href="/Users/Deposits"> Apply for Deposits</a></li>
      <li class="active"><a href="/Users/Loans">Apply for Loans</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Users/Sent_Transactions">Sent Transactions</a></li>
          <li><a href="/Users/Received_Transactions">Received Transactions</a></li>
          <li><a href="/Users/ViewBalance">View Balance</a></li>
        </ul>
      </li>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/Users/Profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="/Users/Login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
    

@if (TempData["error_message"] != null)
{
   <div>
       <div class="row-cols-1">
       <div class="alert alert-success alert-dismissible">
                @TempData["error_message"]
                
       </div>
       </div>
   </div>
}
@if (TempData["success_message"] != null)
{
   <div>
       <div class="row-cols-1">
       <div class="alert alert-success alert-dismissible">
                @TempData["success_message"]
                @TempData["transaction_id"]
                
       </div>
       </div>
   </div>
}
<body>
<form method="post">

<div align="center">
       
         <label class="col-form-label"> Sender's Account No  </label>
        <div>
            <input type="text" class=" form-control" name="sender_accno" style="width: 200px;" required pattern="^[0-9]{10}$"></input>
        </div><br />
        <label class="col-form-label"> Receiver Account No:</label>
        <div>
            <input type="text" class=" form-control" name="receiver_accno" style="width: 200px;"required pattern="^[0-9]{10}$"></input>
        </div><br />
        <label class="col-form-label"> Amount:</label>
        <div>
            <input type="number" class=" form-control" name="amount"style="width: 200px;"required maxlength="10"></input>
        </div>
        <br>
        <br>
       <div>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn btn-primary">Reset</button>
            
        </div>
</div>
</form>
</body>